# Script permettant d'installer automatiquement une Oracle Linux 8
# Mairien Anthony - Notamax
# Mis à jour le 01-03-21
#version=OL8

# Automatic reboot at the end
reboot

# Base repository, taken from cd-rom
repo --name="AppStream" --baseurl=file:///run/install/sources/mount-0000-cdrom/AppStream

# Perform the installation in command lines, not via GUI
cmdline

# Packages to install
%packages
@^server
%end

# Keyboard layouts
# French (Belgium)
keyboard --xlayouts='be (oss)'

# System language
# French (Belgium)
lang fr_BE.UTF-8

# Network information
# Static IP, and hostname
network --bootproto=static --ip=192.168.1.50 --netmask=255.255.255.0 --gateway=192.168.1.1 --nameserver=1.1.1.1
network  --hostname=prod-01.home

# Use CDROM installation media
cdrom

# Run the Setup Agent on first boot
firstboot --enable

# Ignoredisk for auto-partitionning, and only use the nvme one
ignoredisk --only-use=nvme0n1
autopart

# Partition clearing information
clearpart --none --initlabel

# System timezone
# Brussels
timezone Europe/Brussels --isUtc --nontp

# Root password
rootpw --iscrypted $6$8lI/rJknEfEbhdQh$sYeDqKyhqHUvoTd/QEPaC./yI1DJTIeL4tNEAqAsCQqkzfffLUhU8muefNbSn5f9uz.ww.KXC2xgzN8CxH4gF.

# Accept EULA
eula --agreed

# Addition of EPEL repository from fedora
%post
dnf install https://dl.fedoraproject.org/pub/epel/epel-release-latest-8.noarch.rpm -y
%end

# Anaconda password policies, same as the auto-generated ones
%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end
